@charset 'utf--8';
@import url('common.css');

// *{letter-spacing: -0.08rem;}

/********************** 로그인, 가입, 언어변경***********************/

header{
    position: fixed;
    width: 100%;
    z-index: 10000;

    .main_nav{
        background-color: rgb(240, 239, 238);
    }
    // .main_nav.active::after{
    //     content:'';
    //     display: block;
    //     width: 100%; height: 220px;
    //     background-color: rgb(240, 239, 238);

    // }
    >div:nth-child(2){
        background-color: #fff;
    }
}

.topmenu{
    max-width: 1120px; height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    >div:nth-of-type(1){
        display: flex;
        justify-content: flex-start;
        align-items: center;
        >a{
            width:17px; height:17px;
            margin-right:20px;
            z-index:4;
            >img{width:100%; height:100%;}
        }
        >div{ 
            position: relative; z-index:4;
            font-size: 0.9rem;
            padding-right: 57px;
            >ul{
                position:absolute;
                left:0; top:35px;
                display: none;
                >li{                    
                    cursor: pointer;
                    font-size: 0.9rem;
                    margin: 5px 0;
                    display: flex;
                }
                a{
                    font-size: 0.9rem;
                }
                i{
                    font-style: normal;
                    font-size: 0.7rem;
                    color:#999;
                    padding-left: 10px;
                    transition: .5s;
                    display: none;
                }
                i::before{
                    content: '|';
                    display: inline-block;
                    padding-right: 10px;
                }
                li:hover , li:hover a{
                    transition:.5s;
                    color:#29cb7e;
                }
                li:hover i{
                    transition:.5s;
                    display: block;
                }
            }
        }
        &:hover ul{
            display:block;
            animation: mainul 0.5s 0.3s backwards;
        }
        @keyframes mainul{
            0%{ opacity:0;}
            20%{ opacity:1;}
        }
    }        
    >div:nth-of-type(1)::after{
        content:'';
        display: block;
        background-color: rgb(240, 239, 238);
        position:fixed; z-index:3;
        left:0; top:0;
        width: 100%; height: 0px;
        transition:.5s;
    }
    >div:nth-of-type(1):hover::after{
       height: 250px;
       box-shadow: 10px 5px 30px rgba(0,0,0,0.2);
    }

}
.topjoin{ 
    display: flex;
    justify-content: flex-end;
    z-index: 998;
    >a{        
        display: flex;
        align-items: center;
        margin: 20px 0 20px 20px;
        font-size: 0.7rem;
        position:relative;
        >img{
            width:10px; height: 5px;
            margin:0;
            margin-left: 10px;
        }
        >.language{
            display: none;
        }
        >.language.active{
            position:absolute;
            right: 0; top: 30px;
            width:90px; height: 100px;
            border: 1px solid #000;
            background-color: #fff;
            display: block;
            overflow: hidden;
            animation: action1 0.5s forwards;
            z-index: 999;
            >li{
                padding: 6px 20px;
                font-size: 0.9rem;
                word-break: keep-all;
            }
        }
        @keyframes action1 {
            0%{ height: 0;}
            100%{ height: 100px;}
        }
    }
}
.sec_nav{
    width:1120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2{
        font-size: 1.5rem;
        line-height: 1.2rem;
        small{
            font-size: 1.5rem;
            font-weight: lighter;
        }
    }
    >div{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        >div{ 
            position: relative; z-index:2;
            padding-right: 50px;
            >ul{
                position:absolute;
                left:0; top:0;
                padding-top:35px;
                display: none;
                >li{                    
                    cursor: pointer;
                    font-size: 0.9rem;
                    margin: 7px 0;
                }
                >li:hover{
                    color:#29cb7e;
                }
            }
        }
        &:hover ul{
            display:block;
            animation: mainul 0.5s 0.3s backwards;
        }
        @keyframes mainul{
            0%{ opacity:0;}
            20%{ opacity:1;}
        }
        >div::nth-of-type(2){
            padding-right: 0;
        }
    }
    >div::after{
        content:'';
        display: block; z-index:-1;
        background-color: rgb(255,255,255);
        position:fixed; 
        left:0; top: 80px;
        width: 100%; height: 0px;
        transition:.1s;
    }
    >div:hover::after{
       height: 250px; 
       box-shadow: 3px 1px 10px rgba(0,0,0,0.5);
    }
    // >div:hover +h2{
    //     font-size: 1.8rem;
    //     line-height: 1.5rem;
    //     small{
    //         font-size: 1.8rem;
    //         font-weight: lighter;
    //     }
    // }
}
$subColor : #999;
@mixin flex($j:space-between, $a:center){
    display: flex;
    justify-content: $j;
    align-items: $a;
}
@mixin txtDeco(){
    color: $subColor; 
    font-size: 1rem;
    padding: 0 10px 5px 0;
}

/***************************** 사이드// 예약 *******************************/
.aside{
    position: fixed;
    right:5%; bottom:15vh;
    z-index: 5000;
    span{
        font-size: 0.7rem;
    }
}
.topbtn{
    transition:1s;
    opacity: 0;
    z-index: 5000;
    position: relative;
    left: 37px; top:40px;
    >a{
        position:relative;
    }
    >a::before{
        content:'';
        display: block;
        width:13px; height: 2px;
        background-color: #000;
        transform: rotate(45deg);
        position:absolute;
        right: 0; top: -5px;
    }
    >a::after{
        content:'';
        display: block;
        width:13px; height: 2px;
        background-color: #000;
        transform: rotate(-45deg);
        position:absolute;
        right: 8px; top: -5px;
    }
}
.topbtn.active{  
    opacity: 1;
}
.topbtn.active:hover{
    cursor: pointer;
}
.reserve_fix{
    position: relative;
    left:0; bottom:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100px; height:100px;
    background-color: #ffd200;
    border-radius:50%;
    cursor: pointer;
}
.reserve_action{
    position: relative;
    left:0; bottom:20px;
}
.reserve_sub{
    position: absolute;
    right:0; bottom:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100px; height:100px;
    background-color: #f2efea;
    border-radius:50%;
    z-index: -1;
}
.reserve_sub:hover{
    transition:0.5s;
    background-color: #ffd200;
    cursor: pointer;
}
.reserve_sub:nth-child(1){
    position:absolute;
    left:0; bottom:110px;
    animation: reserve1 1s forwards;
}
@keyframes reserve1{
    0%{bottom:0;}
}

.reserve_sub:nth-child(2){
    position:absolute;
    left:0; bottom:220px;
    animation: reserve2 1s forwards;
}
@keyframes reserve2{
    0%{bottom:0;}
}
.reserve_sub:nth-child(3){
    position:absolute;
    left:0; bottom:330px;
    animation: reserve3 1s forwards;
}
@keyframes reserve3{
    0%{bottom:0;}
}
.reserve_sub:nth-child(4){
    position:absolute;
    left:0; bottom:440px;
    animation: reserve4 1s forwards;
}
@keyframes reserve4{
    0%{bottom:0;}
}

.reserve_sub.active{
    position:absolute;
    animation: reserveoff 1s forwards;
    z-index: -1;
}
@keyframes reserveoff{
    100%{left:0; bottom: 0;}
}

//****************** 본문 *******************//
.section_1{   
    width:1120px;
    margin: 0 auto;
    overflow: hidden;
    
    div:nth-child(1){
        margin-top:150px;
        position:relative;
        img{}
        >div{
            position:absolute;
            left: 0; bottom: 0;
            padding:30px;
            p{
                font-size: 2rem;
                color:#fff;
                margin-bottom: 10px;
            }
            a{
                font-size: 0.8rem;
                color:#fff;
            }
        }

    }
    >div:nth-child(2){
        margin:30px 0;
        line-height: 1.8rem;
    }
}

.section_2{
    width: 100%; height: 100vh;
    position:relative;
    ul{
        width:1120px; height: 55px;
        margin: 0 auto;
        display: flex;
        li{
            font-size: 1.1rem;
            margin-right: 30px;
            padding: 17px 0;
        }
        li.active{
            border-bottom: 4px solid #29cb7e;
        }
        li:hover{
            animation: tapline 1s backwards;
        }
        @keyframes tapline{
            0%{ border-bottom: 4px solid #fff}
            100%{border-bottom: 4px solid #29cb7e;}
        }
    }
}
.tap2_exp{
    width:1120px;
    margin:0 auto;
    h2{
        font-size: 1.8rem;
        font-weight: normal;
    }
    p{
        font-size: 0.9rem;
        line-height: 1.8rem;
    }
}
.player{
    width: 1120px;
    margin: 0 auto;
    iframe{
        width:100%; height:100%;
    }
}
.tapimg{
    width:100%; margin:0 auto;
    // display: none;
    visibility: hidden;
    height:0px;
}

.tapimg.active{
    // display: block;
    height:auto;
    visibility: visible;
    animation: tapload .5s backwards;
}
@keyframes tapload{
    0%{transform:translateY(-20px); opacity:0.8;}
    100%{transform:translateY(0);opacity:1;}
}
.slick-slide{
    position:relative;
    a{
        img{
            transition:1s;
            transform:translateY(-50px);
        }
    }
    p{
        padding: 30px 0 20px 0 ;
        font-size: 0;
        i{
            font-style: normal;
            font-size: 0;
            color: #29cb7e;
            padding-right: 10px;
        }
    }
    span{
        font-size: 0;
        line-height: 1.6rem;
    }
    &::after{
        content:'';
        display: block;
        position:absolute;
        left:0; top:0;
        width: 100%; height:100%;
        background-color: rgba(255,255,255,0.5);
        transition-duration:0.8s;
    }
 }
 .slick-center{
    a{
        img{
            transition:1s;
            transform:translateY(0);
        }
    }
    p{
        font-size: 1.8rem;
        animation: tit1 1s .5s backwards;
        i{
            font-style: normal;
            font-size: 1.8rem;
            color: #29cb7e;
            padding-right: 10px;
        }
    }
     @keyframes tit1 {
         0%{transform: translateY(30px);opacity: 0;}
         100%{transform: translateY(0);opacity: 1;}
    }
    span{
        font-size: 1rem;
        animation: tit2 1s 1s backwards;
    }
    @keyframes tit2 {
        0%{opacity: 0;}
        100%{opacity: 1;}   
    }
    &::after{
        background-color: rgba(255,255,255,0);
    }
 }


/* Slider */
.slick-slider{    
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-slide{background:#fff;}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus{outline: none;}
.slick-list.dragging{cursor: pointer;cursor: hand;
}
.slick-slider .slick-track,.slick-slider .slick-list{    
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
} 
.slick-track{
    position: relative;
    top: 0;    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,.slick-track:after{
    display: table;
    content: '';
}
.slick-track:after{clear: both;}
.slick-loading .slick-track{visibility: hidden;}
.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide{float: right;}
.slick-slide img{display: block;}
.slick-slide.slick-loading img{display: none;}
.slick-slide.dragging img{pointer-events: none;}
.slick-initialized .slick-slide{display: block;}
.slick-loading .slick-slide{visibility: hidden;}
.slick-vertical .slick-slide{
    display: block;
    height: auto;
    border: 1px solid transparent;}
.slick-arrow.slick-hidden {display: none;}

/* 좌우버튼 */
.slick-arrow{
    position:absolute;
    right:0%; top: 73%;
    z-index: 2;
    font-size:0; border:0; background:none;
}
.slick-prev{
    right: 19.7%;
}
.slick-prev::after{
    content:'';
    display:block;
    font-size:5rem;
    background: url(../img/btn_prev02.png) no-repeat #fff;
    width:70px; height:50px;    
}
.slick-next{right: 15.5%;}
.slick-next::after{
    content:'';
    display:block;
    font-size:5rem;
    background: url(../img/btn_next02.png) no-repeat #fff;
    width:70px; height:50px;
}
/* 인디게이터 ul li button */
.slick-dots{
    position:absolute;
    left:50%; bottom:5%;
    z-index: 2;
    transform: translateX(-50%);
    list-style: none;
    margin:0; padding:0;
}
.slick-dots li{display:inline-block}
.slick-dots li button{
    width:13px; height:13px;
    border-radius:10px;
    font-size:0;
    padding:0;
    margin:0 8px;
    background-color:#000;
} /* 원모양 */
.slick-dots li.slick-active button{
    background-color:#f00;
}
/* 슬라이드 (이미지, 좌우버튼, 인디게이터) */
.slider{
    width:100%;
    margin:0 auto;
}
.slick-list{
    width:100%; height:100%;
}
.slick-list img{
    width:100%; height:100%;
}
