@charset 'utf--8';

/* 기본값 */
html, body{margin:0;}
ul,li,il{list-style-type:none;margin:0;padding:0;}
h1,h3,h4,h5,h6,figure,p{margin:0;}
img{vertical-align: top;}
a{text-decoration: none;}
table{border-collapse: collapse;}
*{box-sizing: border-box; font-size: 16px; color:#222;}
//* 기본값 *//


$subColor : #999;
@mixin flex($j:space-between, $a:center){
    display: flex;
    justify-content: $j;
    align-items: $a;
}
@mixin txtDeco(){
    color: $subColor; 
    font-size: 0.8rem;
    padding: 0 10px 5px 0;
}

//*****************************************푸터*********************************************//

footer{
    width: 100%;
    background: #1c1b1b;

    .footer{
        max-width: 1120px;
        padding: 50px 0; margin: 0 auto;
        @include flex();

        >figure{
            display: flex;
            a{ width: 140px;
                img{
                    width: 60px;
                }
            }
            .clause{
                div{
                    margin-bottom: 15px;
                    a{
                        @include txtDeco;
                    }
                    p{
                        color: $subColor; 
                        font-size: 0.8rem;
                        line-height: 1.5rem;
                        span{
                            @include txtDeco;;
                        }
                    }
                    a:nth-child(2){
                        font-weight: bold;
                        color:#fff;
                        letter-spacing: -0.07rem;
                    }
                    a:nth-child(n)::after{
                        content:'|';
                        display:inline-block;
                        color: $subColor;
                        margin-left: 15px;
                    }
                    a:nth-child(3)::after{
                        display: none;
                    }
                }
            }

        }
        
        .site{
            .sns{
                @include flex(flex-end,center);
                margin-bottom: 30px;
                a{
                    margin:10px;
                    img{width:25px;}
                }
            }
            .family_site{
                position:relative;
                >figure{
                    width:190px; height:30px;
                    border: 1px solid $subColor;
                    padding: 5px 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    a{
                        font-size: 0.8rem;
                        color: #999;
                        img{
                            width:7px; height:5px;
                        }
                    }
                    a:nth-of-type(2){
                        padding-top:10px;
                    }
                }
                ul{
                    width:100%;
                    border: 1px solid $subColor;
                    background-color: #1c1b1b;
                    position:absolute;
                    left:0; bottom: 30px;
                    padding:15px;
                    display: none;

                    li{
                        font-size: 0.75rem;
                        color: #999;
                        padding: 7px 0;
                    }
                }
                >figure:hover{
                    cursor: pointer;
                }
                ul.active{
                    display: block;
                }
            }

        }
    
    }
}
